<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0; }
	div p	{ margin-top: 0; margin-bottom: 0; }
	body	{ background-color: White; 
		background-image: url();
		background-repeat: no-repeat;  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText; }
	img	{ cursor: hand; }
	span	{ cursor: hand; }
	a:link	{  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Blue; }
	a:visited	{  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Purple; }
	a:hover	{  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Red; }
	.toc	{ margin-left: 20px; text-indent:-0.21in; }
	.topic	{ margin-left: 20px; text-indent:-0.21in; }
	.caption	{ font-weight: bold; margin-bottom: 6pt; white-space:nowrap; }
	.back	{ margin-top: 12px; text-align: right; }
</style>
