body, table, tr, td{
	FONT: 10pt gulim, Arial, Helvetica, sans-serif;
	/*COLOR: black;*/
	font-family: gulim,dotum ;

}

A:link 		{	COLOR: #515150; TEXT-DECORATION: none;	}
A:active 	{	COLOR: #515150; TEXT-DECORATION: none;	}
A:visited 	{	COLOR: #515150; TEXT-DECORATION: none;	}
A:hover 	{	COLOR: #FF7A00; TEXT-DECORATION: underline; 	}

/* input    .  expression
Border:expression( (this.type=='checkbox'||this.type=='radio' || this.type=='image')?'0px solid': (this.type=='button')?'1x ridge #d0d0d0' :'1x SOLID #AFAFAF' );
*/
input    {  height:19; background-color:#ffffff;
		 	Border:expression( (this.type=='text' || this.type=='file' || this.type=='button' || this.type=='password')?(this.type=='button')?'middle ridge #6633CC':'1x SOLID #AFAFAF':'inherit');
			FONT: 12px;
		 }



textarea {  background-color:#ffffff; Border:1x SOLID #AFAFAF; 	 }

select   {	behavior: url('../com/css/selectbox.htc'); 	} 
.input_combobox   {	behavior: url('../../com/css/selectbox_ad.htc'); 


body  { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
		background-color: #FFFFFF;
		/*scrollbar-3dlight-color:#cccccc;
		scrollbar-arrow-color:#C7CFD1;
		scrollbar-track-color:#ffffff;
		scrollbar-darkshadow-color:#ffffff;
		scrollbar-face-color:#FBFBFB;
		scrollbar-highlight-color:#F3F3F3;
		scrollbar-shadow-color:#CCCCCC;*/

		scrollbar-3dlight-color:#DFDFDF;
		scrollbar-arrow-color:BLUE;
		scrollbar-base-color:#EFEFEF;
		scrollbar-face-color:#EFEFEF;
		scrollbar-highlight-color:#FFFFF;
		scrollbar-shadow-color:#595959;
		scrollbar-darkshadow-color:#FFFFFF;
}

/* 읽기전용으로 변경시  */
.input_readOnly {
	background-color: #EFEFEF;
	Border:1px solid #AFAFAF;
	margin: 0px;
}

.input_readOnlyNo {
	border:1px SOLID #000000;
	background-color: #ffffff;
}


.body_top_img { background-repeat:no-repeat;
			font-size: 11px; line-height:15px;COLOR: #664a20;padding-top:51; padding-right:15; text-align:right; }
.body_top_t	{COLOR: #a60000; font-weight:bold;}
.body_top_img_bg { background-color:#f7f5f2; height:44px;}

/* Search Table*/
.searchTable_td {
	font-family:  dotum, Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color: 666666; font-weight:bold;
}

.listTable {
	table-layout:fixed;
}

.listTable_td {
 	height: 28px;
	BORDER-BOTTOM: #dbdad9 1pt solid;
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	overflow:hidden;
	text-overflow:ellipsis;
}

.listTable_line_color	{ background-color:#dbdad9;}



/* START */
.inputTable {
	BORDER-TOP: #448fd0 1pt solid;
	BORDER-LEFT: none ;
	BORDER-BOTTOM: none ;
	BORDER-RIGHT: none;
}


.inputTable_td {
	BORDER-TOP: none ;
	BORDER-LEFT: none ;
	BORDER-BOTTOM: #dbdad9 1pt solid;
	BORDER-RIGHT: none;
}

.inputTable_content_td {
	BORDER-TOP: none;
	BORDER-LEFT: #bfd8f2 1pt solid;
	BORDER-BOTTOM: #bfd8f2 1pt solid;
	BORDER-RIGHT: #bfd8f2 1pt solid;
	color: #515150;
}

.inputTable_box_td {
	BORDER-TOP: #bfd8f2 1pt solid;
	BORDER-LEFT: #bfd8f2 1pt solid;
	BORDER-BOTTOM: #bfd8f2 1pt solid;
	BORDER-RIGHT: #bfd8f2 1pt solid;
	color: #515150;
}

.paging  { font-family:  dotum, Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color: 666666;}
.paging			A:link 		{	 font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: 666666; font-weight:bold; TEXT-DECORATION: none	}
.paging			A:active 	{	 font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: 666666; font-weight:bold; TEXT-DECORATION: none	}
.paging			A:visited 	{	 font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: 000000; font-weight:bold; TEXT-DECORATION: none	}
.paging			A:hover 	{	 font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 10px;color: 000000; font-weight:bold; TEXT-DECORATION: none	}


.copy01  { font-family:   dotum, Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color: 7d7766; font-weight:bold; line-height:20px}
.copy02  { font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 9px;color: 6a6a6a; font-weight:bold; line-height:10px}


.left_top_bg {background-repeat:no-repeat; padding-left:30; padding-top:12; font-weight:bold;
			font-family:   dotum, Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: a60000; }
			
.top_img {background-image:url('images/top_img.gif'); background-repeat:no-repeat;
			font-size: 11px; line-height:15px;COLOR: #664a20;padding-top:51; padding-right:15; text-align:right; }
.top_img_t	{COLOR: #a60000; font-weight:bold;}
.top_img_bg { background-color:#f7f5f2; height:44px;}

.top_title	{font-size: 12px; line-height:15px; COLOR: #a60000; font-weight:bold;}			
			
