SPAN.C1HIndex A {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.C1HPopup A {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.C1HJump A {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.HTML A {COLOR: green; TEXT-DECORATION: none;}
SPAN.D2HNoGloss A {COLOR: windowtext; TEXT-DECORATION: none;}
CODE A {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.MsoHyperlinkFollowed A {COLOR: purple; TEXT-DECORATION: underline;}
SPAN.MsoHyperlink A {COLOR: blue; TEXT-DECORATION: underline;}
SPAN.MsoFootnoteReference A {COLOR: windowtext; TEXT-DECORATION: none;}
P.MsoNormal {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
H4 {FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 2pt 0cm; FONT-FAMILY: Verdana;}
H5 {FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 6pt 0cm 0pt; FONT-FAMILY: Verdana;}
H6 {FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN: 12pt 0cm 3pt; FONT-FAMILY: Verdana;}
P.MsoHeading7 {FONT-SIZE: 12pt; MARGIN: 12pt 0cm 3pt; FONT-FAMILY: Verdana;}
P.MsoHeading8 {FONT-SIZE: 12pt; MARGIN: 12pt 0cm 3pt; FONT-STYLE: italic; FONT-FAMILY: Verdana;}
P.MsoHeading9 {FONT-SIZE: 11pt; MARGIN: 12pt 0cm 3pt; FONT-FAMILY: Verdana;}
P.MsoIndex1 {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
P.MsoIndex2 {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt 18pt; FONT-FAMILY: Verdana;}
P.MsoIndex3 {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt 36pt; FONT-FAMILY: Verdana;}
P.MsoToc1 {FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 12pt 0cm 6pt; FONT-FAMILY: Verdana;}
P.MsoToc2 {FONT-SIZE: 11pt; MARGIN: 3pt 0cm; FONT-FAMILY: Verdana; TEXT-DECORATION: underline; text-underline: double;}
P.MsoToc3 {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
P.MsoToc4 {FONT-SIZE: 10pt; MARGIN: 0cm 36pt 0pt 108pt; FONT-FAMILY: Verdana;}
P.MsoToc5 {MARGIN-TOP: 0cm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-RIGHT: 0cm; FONT-FAMILY: Verdana;}
P.MsoToc6 {MARGIN-TOP: 0cm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-RIGHT: 0cm; FONT-FAMILY: Verdana;}
P.MsoToc7 {MARGIN-TOP: 0cm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-RIGHT: 0cm; FONT-FAMILY: Verdana;}
P.MsoToc8 {MARGIN-TOP: 0cm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-RIGHT: 0cm; FONT-FAMILY: Verdana;}
P.MsoToc9 {MARGIN-TOP: 0cm; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0pt; MARGIN-RIGHT: 0cm; FONT-FAMILY: Verdana;}
P.MsoFootnoteText {FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial;}
P.MsoHeader {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
P.MsoFooter {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-SIZE: 10pt; PADDING-BOTTOM: 0cm; MARGIN: 0cm 0cm 0pt; BORDER-LEFT: medium none; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
P.MsoIndexHeading {FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN: 15.1pt 0cm 6.1pt; FONT-FAMILY: Verdana;}
P.MsoCaption {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 8pt; LINE-HEIGHT: 14pt; FONT-STYLE: italic; FONT-FAMILY: Verdana; tab-stops: 18.0pt 36.0pt;}
SPAN.MsoFootnoteReference {COLOR: windowtext; TEXT-DECORATION: none;}
P.MsoToaHeading {FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 6pt 0cm 0pt; FONT-FAMILY: Verdana;}
P.MsoList {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 18pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 18.0pt;}
P.MsoList2 {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 36.0pt;}
P.MsoTitle {FONT-WEIGHT: bold; FONT-SIZE: 36pt; MARGIN: 12.1pt 0cm 36.1pt; FONT-FAMILY: Verdana; TEXT-ALIGN: right;}
P.MsoBodyText {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.MsoListContinue {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.MsoListContinue2 {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.MsoBodyText2 {TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; COLOR: black; FONT-FAMILY: µ¸¿ò; TEXT-ALIGN: justify;}
SPAN.MsoHyperlink {COLOR: blue; TEXT-DECORATION: underline; text-underline: single;}
SPAN.MsoHyperlinkFollowed {COLOR: purple; TEXT-DECORATION: underline; text-underline: single;}
P.MsoDocumentMap {FONT-SIZE: 10pt; BACKGROUND: navy; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial;}
P {FONT-SIZE: 12pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
CODE {COLOR: windowtext; TEXT-DECORATION: none;}
PRE {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: "Arial Unicode MS"; tab-stops: 45.8pt 91.6pt 137.4pt 183.2pt 229.0pt 274.8pt 320.6pt 366.4pt 412.2pt 458.0pt 503.8pt 549.6pt 595.4pt 641.2pt 687.0pt 732.8pt;}
P.HeadingBase {FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
P.Definition {FONT-SIZE: 10pt; MARGIN: 5.75pt 0cm 0pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.BodyTextTable {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.ByLine {FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 12.1pt 0cm 36.1pt; FONT-FAMILY: Verdana; TEXT-ALIGN: right;}
P.CaptionTable {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 8pt; LINE-HEIGHT: 14pt; FONT-STYLE: italic; FONT-FAMILY: Verdana; tab-stops: 18.0pt 36.0pt;}
P.CodeBase {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "Courier New";}
P.CodeExplained {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 2pt 36pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "Courier New";}
P.Figures {FONT-SIZE: 10pt; MARGIN: 3pt 0cm; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 18.0pt 36.0pt;}
P.FiguresTable {FONT-SIZE: 10pt; MARGIN: 3pt 0cm; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 18.0pt 36.0pt;}
P.HeaderBase {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial;}
P.GlossaryTerm {FONT-SIZE: 11pt; MARGIN: 2pt 0cm; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.IndexBase {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
P.JumpBase {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 3pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.Jump {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 3pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.JumpfromContents {FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN: 1pt 0cm 3pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.JumpfromList {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 3pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.RelatedHead {FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN: 9pt 0cm 1pt; COLOR: blue; FONT-FAMILY: Verdana;}
P.KeywordLink {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0cm; MARGIN: 9pt 0cm 1pt; BORDER-LEFT: medium none; COLOR: blue; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana;}
P.List2Table {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 36.0pt;}
P.ListTable {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 18pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: 18.0pt 36.0pt;}
P.MarginNote {FONT-SIZE: 10pt; MARGIN: 3pt 0cm; LINE-HEIGHT: 14pt; FONT-STYLE: italic; FONT-FAMILY: Verdana;}
P.Note {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-SIZE: 10pt; PADDING-BOTTOM: 0cm; MARGIN: 9pt 0cm; BORDER-LEFT: medium none; LINE-HEIGHT: 14pt; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana;}
P.Source {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt 36pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "Courier New"; tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt;}
P.SourceTop {FONT-SIZE: 10pt; MARGIN: 5.75pt 0cm 0pt 36pt; LINE-HEIGHT: 14pt; FONT-FAMILY: "Courier New"; tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt;}
P.SuperTitle {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-WEIGHT: bold; FONT-SIZE: 14pt; PADDING-BOTTOM: 0cm; MARGIN: 48pt 0cm 0pt 72pt; BORDER-LEFT: medium none; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana; TEXT-ALIGN: right;}
P.TableBorder {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 1pt; FONT-FAMILY: Verdana;}
P.TableHeading {FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 3pt 3.6pt 0pt; FONT-FAMILY: Verdana;}
P.TableText1 {FONT-SIZE: 9pt; MARGIN: 2pt 3.6pt; FONT-FAMILY: Verdana;}
P.TOCBase {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Verdana;}
P.TOCTitle {FONT-WEIGHT: bold; FONT-SIZE: 24pt; MARGIN: 9pt 0cm 7pt; FONT-FAMILY: Verdana;}
SPAN.D2HNoGloss {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.HTML {COLOR: green; TEXT-DECORATION: none;}
P.C1HBullet {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: list 36.0pt;}
P.C1HBullet2 {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 54pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: list 54.0pt;}
P.C1HBullet2A {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 54pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: list 54.0pt;}
P.C1HNumber {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: list 36.0pt;}
P.C1HNumber2 {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 54pt; TEXT-INDENT: -18pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana; tab-stops: list 54.0pt;}
P.C1HContinue {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 36pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
P.C1HContinue2 {FONT-SIZE: 10pt; MARGIN: 5pt 0cm 0pt 54pt; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana;}
SPAN.C1HJump {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.C1HPopup {COLOR: windowtext; TEXT-DECORATION: none;}
SPAN.C1HIndex {COLOR: windowtext; TEXT-DECORATION: none;}
P.MidTopic {FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 9pt 0cm 7pt; FONT-FAMILY: Verdana;}
P.WhatsThis {FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 9pt 0cm 7pt; FONT-FAMILY: Verdana;}
P.BodyTable {FONT-SIZE: 10pt; MARGIN: 5.75pt 0cm 0pt; FONT-FAMILY: Verdana;}
P.footereven {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-SIZE: 10pt; PADDING-BOTTOM: 0cm; MARGIN: 0cm 0cm 0pt; BORDER-LEFT: medium none; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
P.footerodd {BORDER-RIGHT: medium none; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; PADDING-LEFT: 0cm; FONT-SIZE: 10pt; PADDING-BOTTOM: 0cm; MARGIN: 0cm 0cm 0pt; BORDER-LEFT: medium none; PADDING-TOP: 0cm; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
P.headereven {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
P.headerodd {FONT-SIZE: 10pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: Arial; tab-stops: right 486.0pt;}
